.Legend {
  background: rgba(255, 255, 255, 0.788);
  padding: 10px;
  margin: 10px;
  border: 2px solid #000;
  border-radius: 10px;
  width: 140px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.Legend .l-feature {
  display: flex;
  margin: 5px 0;
}

.Legend h4 {
  color: black;
  text-align: center;
}

.Legend img {
  align-self: center;
  vertical-align: middle;
}
