.About {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.About h2 {
  text-align: left;
  color: white;
  font-size: 5.2vmin;
  margin-bottom: 20px;
}

.About p {
  color: white;
  font-size: 1.3em;
  margin: 2px 0;
  line-height: 1.5;
}
