.Background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: white;
    //   background-image: url("./img/12.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}