.PanelPage {
  min-height: calc(100vh - 200px);
  width: 96%;
  margin: 150px auto 50px auto;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.PanelPage .PanelContent {
  width: 88%;
  margin: 10px auto;
}

.PanelPage h2 {
  color: white;
  text-align: center;
}

.PanelPage aside {
  width: 200px;
  height: calc(100vh - 200px);
}
