.Slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 0 5%;
  transition: left 1s;
  overflow: auto;
  direction: rtl;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.Slide a {
  color: inherit;
}

.Slide .slide-content {
  direction: ltr;
}

.Slide::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.Slide::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.Slide::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.Slide::-webkit-scrollbar-thumb:hover {
  background: #555;
}
