.MainContent {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
  }
  .mask {
    position: absolute;
    height: 100%;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.85);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  }
}
