.RadioBtn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}

.RadioBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.RadioBtn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.RadioBtn:hover input ~ .checkmark {
  background-color: #ccc;
}

.RadioBtn input:checked ~ .checkmark {
  background-color: #54a335;
}

.RadioBtn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.RadioBtn input:checked ~ .checkmark:after {
  display: block;
}

.RadioBtn .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.contrast-black-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid white;
}

.contrast-black-radio input:checked ~ .checkmark {
  background-color: white !important;
  border: none;
}

.contrast-black-radio .checkmark:after {
  background: black;
}

.contrast-black-radio:hover input ~ .checkmark {
  background-color: #c0c0a6;
}

.contrast-yellow-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid yellow;
}

.contrast-yellow-radio input:checked ~ .checkmark {
  background-color: yellow !important;
  border: none;
}

.contrast-yellow-radio .checkmark:after {
  background: black;
}

.contrast-yellow-radio:hover input ~ .checkmark {
  background-color: #7a7a42;
}
