.LinkButton {
  margin-top: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  margin: 10px 0 15px 0;
}

.LinkButton span,
.LinkButton i {
  text-decoration: underline;
}
