.LinkButton {
  span,
  i {
    text-decoration: underline;
  }

  margin-top: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  margin:10px 0 15px 0;
}
