.Header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  // overflow: hidden;
  nav {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
  }

  .login {
    margin-right: 20px;
  }

  .nav-btns {
    display: flex;
  }
  .logo {
    // width: 55%;
    // position: absolute;
    // left: 2.5%;
    // top: 2%;
    // min-height: 50px;
    margin-left: 10%;
    margin-bottom: 10px;
    min-width: 120px;
    z-index: 1;
    transition: width 1s, height 1s;
  }
  .accessibility-btns {
    margin-right: 50px;

    .contrast- {
      color: rgb(129, 129, 129);
    }
  }
}
