.Header {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: green;
  overflow: hidden;
}

.Header nav {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.Header .login {
  margin-right: 20px;
}

.Header .nav-btns {
  display: flex;
}

.Header .logo {
  margin-left: 2.5%;
  min-width: 110px;
  z-index: 1;
  transition: width 1s, height 1s;
}

.Header .accessibility-btns {
  margin-right: 50px;
}

.Header .accessibility-btns .contrast- {
  color: #818181;
}
