.Header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Header nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.Header .login {
  margin-right: 20px;
}

.Header .nav-btns {
  display: flex;
}

.Header .logo {
  margin-left: 10%;
  margin-bottom: 10px;
  min-width: 120px;
  z-index: 1;
  transition: width 1s, height 1s;
}

.Header .accessibility-btns {
  margin-right: 50px;
}

.Header .accessibility-btns .contrast- {
  color: #818181;
}
