.MainInfo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.MainInfo h1 {
  text-align: left;
  color: white;
  font-size: 7.2vmin;
}

.MainInfo a {
  color: white;
  font-size: 1.3em;
}

.MainInfo a:hover {
  color: #b3b3b3;
}
